/* Movie Page */

.movie-header {
    color: white;
    margin-left: 29%;
    margin-bottom: 3px;
}

/* Box containing elements */
.movie-page {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 325px;
    background-color: #282828;
    width: 560px;
    border-radius: 10px;
    margin: 0 auto;
    padding-left: 10px;
    position: relative;
}

.movie-poster {
    background-color: #282828;
    width: 175px;
    height: 200px;
}


.movie-poster img {
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
    margin-left: -100px;
    margin-top: 35px;
}

.movie-details {
    background-color: #282828;
    width: 300px;
    height: 200px;
    padding-top: 50px;
    padding-left: 25px;
}

.selection-lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.selection-lists select {
    width: 50;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: white;
    box-sizing: border-box;
    margin-right: 15px;
}

.selection-lists select:hover {
    border-color: #4ccc;
    outline: none;
}

.selection-lists select:focus {
    border-color: #4ccc;
    outline: none;
}

/* Buttons */
.select-movie-button {
    width: 20%;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 540px;
}

.select-movie-button:hover {
    background-color: #4ccc;
}