/* Navigation */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 40px;
  }

.nav-link {
    text-decoration: none;
    color: #333;
    background-color: white;
    font-size: 15px;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 50px;
    transition: color 0.3s ease, background-color 0.3s ease;
    display: inline-block;
    margin-top: -180px;
}

.nav-link:hover {
    background-color: #4ccc;
}