/* Payment Page */

.payment-header {
    color: white;
    margin-left: 24.3%;
    margin-bottom: 3px;
}

.payment-page {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 575px;
    background-color: #282828;
    width: 700px;
    border-radius: 10px;
    margin: 20px auto;
    padding-left: 10px;
    position: relative;
}

.order-summary {
    width: 50%;
}

.order-summary div {
    padding: 5px;
}

.payment-input {
    margin-bottom: -20px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    background-color: #282828;
}

.payment-input label {
    color: white;
    font-size: 14px;
}

.payment-input input {
    width: 90%;
    padding: 8px;
    padding-top: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: white;
    margin-right: 170px;
}

.payment-input input:hover {
    border-color: #4ccc;
    outline: none;
    cursor: pointer;
}

.payment-input input:focus {
    border-color: #4ccc;
    outline: none;
}


/* Buttons */
.payment-button {
    width: 20%;
    margin-left: 545px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: -10px;
}

.registration-button:hover {
    background-color: #4ccc;
}
